<div class="activities">
    <div class="activities__header">
      <h2>The Team</h2>
    </div>


    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="#" class="roomListRoom__author">
          
          <p>
            C Amrit Subramanian
          </p>
        </a>
        

      </div>
      <div class="activities__boxContent">
        <div class="activities__boxRoomContent">
          CB.EN.U4AIE22010
        </div>
      </div>
    </div>


    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="#" class="roomListRoom__author">
          
          <p>
            Madhav
          </p>
        </a>
        

      </div>
      <div class="activities__boxContent">
        <div class="activities__boxRoomContent">
          CB.EN.U4AIE22034
        </div>
      </div>
    </div>

    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="#" class="roomListRoom__author">
          
          <p>
            S.P Saran Darshan
          </p>
        </a>
        

      </div>
      <div class="activities__boxContent">
        <div class="activities__boxRoomContent">
          CB.EN.U4AIE22045
        </div>
      </div>
    </div>

    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="#" class="roomListRoom__author">
          
          <p>
            Pathange Omkareshwara Rao
          </p>
        </a>
        

      </div>
      <div class="activities__boxContent">
        <div class="activities__boxRoomContent">
          CB.EN.U4AIE22039
        </div>
      </div>
    </div>

  </div>






